/* margin and the alignment of the calculator */
body{
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Background colour, font, and size */
#calculator{
    font-family: Arial, Helvetica, sans-serif;
    background-color: hsl(0, 0%, 15%);
    border-radius: 15px;
    max-width: 60vh;
    overflow: hidden;
}

/* the layout of the buttons */
#key{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    padding: 25px;
}

/* the size, and colour of the buttons */
button{
    width: 10vh;
    height: 10vh;
    border-radius: 5vh;
    border: none;
    background-color: hsl(0, 0%, 30%);
    color: white;
    font-size: 2rem;
    cursor: pointer;
}

/* the colour of the operator buttons */
#orange{
    background-color: orange;
}

/* the size and background colour of the display */
#display{
    width: 60vh;
    padding: 1vh;
    font-size: 5rem;
    text-align: left;
    border: none;
    background-color: hsl(0, 0%, 20%);
    color: white;
}